.why_choose_section {
    position: relative;
}
.why_choose_section .why_choose_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top center;
    opacity: 51%;
}
.why_choose_section .container {
    position: relative;
}
.why_choose_heading {
    font-family: "Mono-Dance";
    font-size: 75px;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 3rem;
}
.why_choose_grid_lists {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 30px;
    justify-content: center;
}
.why_choose_grid_lists .why_choose_list_item {
    padding: 30px 25px;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    cursor: pointer;
    min-height: 280px;
}
.why_choose_grid_lists .why_choose_list_item:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
}
.why_choose_list_item .why_choose_icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.why_choose_grid_lists .why_choose_list_item:hover .why_choose_icon {
    filter: invert(1);
}
.why_choose_list_item .why_choose_list_title {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-medium);
    text-transform: uppercase;
}
.why_choose_list_item .why_choose_list_text {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-medium);
}
@media (max-width: 1199px) {
    .why_choose_grid_lists {
        gap: 15px;
    }
    
    .why_choose_list_item .why_choose_list_text {
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .why_choose_grid_lists {
        grid-template-columns: repeat(2, 280px);
    }
}
@media (max-width: 767px) {
    .why_choose_list_item .why_choose_icon {
        width: 40px;
        height: 40px;
    }
    .why_choose_grid_lists .why_choose_list_item {
        gap: 15px;
        padding: 20px 20px 40px;
    }
    .why_choose_heading {
        font-size: 60px;
    }
}
@media (max-width: 500px) {
    .why_choose_grid_lists {
        grid-template-columns: repeat(1, 250px);
        justify-content: center;
    }
    .why_choose_grid_lists .why_choose_list_item {
        min-height: 250px;
    }
    .why_choose_heading {
        font-size: 50px;
    }
    .why_choose_list_item .why_choose_list_title {
        font-size: 18px;
    }
}