.about_us_section {
    background-color: var(--color-black);
}
.about_us_flex_div {
    display: flex;
    gap: 4rem;
    align-items: center;
}
.about_us_flex_div .about_us_cols {
    flex: 1;
    width: 50%;
}
.about_us_flex_div .about_us_cols .about_cols_image {
    width: 100%;
    border-top-right-radius: 250px;
    object-fit: cover;
}
.main_heading {
    font-size: 33px;
    color: var(--color-yellow);
    font-weight: 400;
}
.about_us_flex_div .main_heading {
    margin-bottom: 2rem;
}
.sub_heading_main {
    margin-bottom: 1rem;
}
.about_us_section .paragraph {
    font-size: 18px;
    color: var(--color-white);
}
.about_us_section .paragraph a {
    color: var(--color-white);
}
@media (max-width: 1440px) {
    .about_lists_top .about_lists_item,
    .about_us_section .paragraph {
        font-size: 16px;
    }
}
@media (max-width: 1199px) {
    .main_heading {
        font-size: 30px;
    }
    .about_lists_top .about_lists_item,
    .about_us_section .paragraph {
        font-size: 16px;
    }
}
@media (max-width: 991px) {
    .about_us_flex_div {
        flex-direction: column;
    }
    .about_us_flex_div .about_us_cols {
        flex: 1;
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    
    .about_lists_top .about_lists_item {
        font-size: 16px;
    }
    .about_lists_top {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
    .main_heading {
        font-size: 25px;
    }
    .about_sub_text {
        font-size: 20px;
        line-height: 25px;
    }
    .about_lists_top .about_lists_item .about_lists_item_img {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 500px) {
    
    .about_lists_top .about_lists_item {
        font-size: 14px;
    }
}