.contact_us_section {
    position: relative;
    background-color: var(--color-black);
}
.contact_us_section .contact_bg_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 20%;
}
.contact_us_section .contact_us_flex {
    display: block;
    position: relative;
    /* background-color: #A3834A;
    border-radius: 8px; */
}
/* .contact_us_section .contact_us_flex::before {
    content: "";
    background-color: var(--color-yellow);
    width: 132px;
    height: 132px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 224px;
    position: absolute;
    top: 0;
    left: 0;
} */
.contact_us_right_col {
    width: 100%;
    position: relative;
    max-width: 822px;
    margin: auto;
}
.contact_section_form {
    padding: 40px;
    background-color: #0000008C;
    border-radius: 15px;
}
.contact_section_form .main_heading {
    color: var(--color-white);
    font-size: 30px;
    font-weight: 500;
    font-family: var(--font-medium);
}
.contact_us_right_col .contact_text {
    font-size: 33px;
    line-height: 1.2;
    text-align: center;
    color: var(--color-white);
    margin: 0 0 2rem;
}
.contact_section_form h5 {
    font-size: 35px;
    font-weight: 600;
    font-family: var(--font-semibold);
    margin-bottom: 15px;
    color: var(--color-yellow);
    display: none;
}
.contact_section_form input {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-medium);
    padding: 12px 12px !important;
    height: auto;
    border: none !important;
    border: 1px solid var(--color-border) !important;
    border-radius: 3px;
    background-color: var(--color-transparent) !important;
    color: var(--color-white);
}
.contact_section_form input::placeholder {
    color: var(--color-border);
}
.contact_section_form .PhoneInput {
    border: none !important;
    border: 1px solid var(--color-border) !important;
    border-radius: 3px;
    background-color: var(--color-transparent) !important;
    padding: 12px 12px !important;
}
.contact_section_form .PhoneInput input {
    border: none !important;
    border-radius: 0px;
    padding: 0 10px !important;
}
.contact_section_form .checkbox_div {
    margin-top: 2rem !important;
    font-size: 14px;
    color: var(--color-white);
}
.contact_section_form input.checkbox {
    background-color: var(--color-transparent) !important;
}
.contact_section_form .custom-checkbox .checkmark {
    border: 1px solid var(--color-white);
    width: 18px;
    height: 18px;
}
.contact_section_form .submit_btn {
    background-color: #565656 !important;
    color: var(--color-white);
    border-radius: 8px;
    text-transform: uppercase;
    padding: 10px 20px !important;
    font-size: 15px;
    font-weight: 600;
    font-family: var(--font-semibold);
    border: 1px solid #565656 !important;
    margin-top: 0rem;
}
.contact_section_form .text-center.flex.items-center.justify-end {
    justify-content: start !important;
}
.contact_section_form .submit_btn:hover {
    background-color: var(--color-yellow) !important;
    color: var(--color-black) !important;
    border-color: var(--color-yellow) !important;
}
.contact_section_form .enquire-form .form_label {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-semibold);
    margin-top: 0.5rem;
}
.contact_section_form .price_range_group .btn {
    border-color: #EAEAEA !important;
    color: #EAEAEA;
    padding: 12px;
    font-size: 16px;
}
.contact_section_form .price_range_group .btn-check:checked+.btn,
.contact_section_form .price_range_group .btn:active,
.contact_section_form .price_range_group .btn:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
    border-color: var(--color-yellow) !important;
}
.contact_section_form .custom-checkbox .checkmark {
    border-color: var(--color-white);
}
.contact_section_form .custom-checkbox input:checked + .checkmark {
    background: var(--color-transparent);
    border-color: var(--color-white);
}
.contact_section_form .custom-checkbox input:checked + .checkmark::after {
    border-color: var(--color-white);
}
.contact_us_section .PhoneInputCountrySelectArrow {
    --PhoneInputCountrySelectArrow-color: var(--color-white) !important;
}
.contact_us_section .success-wrapper .success_msg {
    color: var(--color-white);
    text-align: center;
}
.contact_us_section .enquire-form .error {
    font-size: 14px;
}
.success-wrapper .thanku-txt {
    font-size: 35px;
    font-weight: 600;
    font-family: var(--font-semibold);
    margin-bottom: 1rem;
    text-align: center;
}
.contact_us_section .enquire-form {
    min-height: 467px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_us_section .enquire-form .form-section {
    width: 100%;
}  
@media (max-width: 1199px) {
    .contact_us_section .contact_us_flex {
        gap: 2rem;
    }
    .contact_section_form .price_range_group .btn {
        font-size: 14px;
        padding: 12px 6px;
    }
}
@media (max-width: 991px) {
    .contact_us_section .contact_us_flex {
        gap: 1rem;
        flex-direction: column;
    }
    .contact_us_content {
        min-height: 650px;
    }
    .contact_us_content .contact_us_content_text {
        padding: 1rem;
        min-height: 300px;
    }
    .contact_us_content .contact_us_content_text .contact_form_text {
        font-size: 16px;
    }
    .contact_us_right_col {
        width: 100%;
        max-width: 100%;
    }
    .success-wrapper .thanku-txt {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    .contact_section_form .main_heading {
        font-size: 25px;
    }
    .contact_us_section .enquire-form {
        min-height: 440px;
    }
    .contact_us_section .contact_us_flex {
        gap: 2rem;
        flex-direction: column;
    }
    .contact_us_content .contact_us_content_text {
        padding: 2rem;
    }
    .contact_us_right_col .contact_text {
        font-size: 20px;
        line-height: 24px;
    }
    .contact_section_form .enquire-form .form_label {
        font-size: 18px;
    }
    .contact_section_form input,
    .contact_section_form .PhoneInput {
        font-size: 15px;
        padding: 10px 12px !important;
    }
    .contact_section_form .submit_btn {
        padding: 10px 20px !important;
    }
    .contact_section_form .price_range_group .btn {
        font-size: 14px;
        padding: 10px 10px;
    }
    
}
@media (max-width: 480px) {
    .contact_us_content .contact_us_content_text .contact_form_text {
        font-size: 14px;
    }
    .contact_section_form .price_range_group .btn {
        font-size: 12px;
        padding: 8px;
    }
    .contact_section_form {
        padding: 20px;
    }
}
@media (max-width: 380px) {
    .contact_section_form .price_range_group .btn {
        font-size: 10px;
        padding: 8px 3px;
    }
}