.banner_slider_section {
    position: relative;
    overflow: hidden;
}
.banner_slider_item {
    position: relative;
    height: 100vh;
    min-height: 700px;
}
.banner_slider_item .banner_bg_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.banner_slider_item .banner_text_gradient {
    background: #000000A6;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.banner_slider_item .container,
.banner_slider_item .container-fluid {
    position: relative;
    height: 100%;
    z-index: 1;
    padding: 6rem 20px 6rem;
}
.banner_slider_item .row {
    position: relative;
    height: 100%;
    z-index: 1;
}
.banner_slider_item .col {
    display: flex;
    align-items: center;
    margin-top: auto;
    height: 100%;
}
.banner_slider_item .banner_sliders_flex {
    display: flex;
    align-items: end;
    width: 85%;
    margin: auto;
}
.banner_slider_item  .banner_small_image {
    flex: 0 0 381px;
    border: 2px solid var(--color-brown);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 200px 200px 0 0;
}
.banner_slider_item  .banner_small_image .banner_small_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px 200px 0 0;
}
.banner_slider_item .booking_text_banner {
    font-size: 20px;
    line-height: 25px;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: 8px;
    width: max-content;
    font-weight: 600;
    font-family: var(--font-semibold);
    padding: 10.5px 15px;
    text-align: center;
}
.banner_slider_text_block {
    max-width: 850px;
    margin: auto;
    flex: 1;
}
.banner_slider_text_bg {
    color: var(--color-white);
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    max-width: 560px;
}
.banner_slider_heading {
    font-size: 35px;
    line-height: 42px;
    font-weight: 500;
    font-family: var(--font-poppins-medium);
    color: var(--color-yellow);
}
.banner_slider_subtext {
    font-size: 25px;
    line-height: 28px;
    font-weight: 500;
    font-family: var(--font-medium);
    font-family: var(--font-poppins-medium);
}
.banner_slider_red_text {
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    font-family: var(--font-semibold);
    background-color: var(--color-red);
    border-radius: 25px;
    width: fit-content;
    padding: 8px 15px;
}
.banner_slider_icons_lists {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.banner_slider_lists_item {
    display: flex;
    align-items: start;
    gap: 5px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
    font-family: var(--font-medium);
    width: 100%;
}
.banner_slider_lists_item img {
    width: 23px;
    height: 23px;
    object-fit: contain;
}
.hand_img_banner {
    width: 95px;
}
.banner_slider_section .slick-dots {
    bottom: 15px;
}
.banner_slider_section .slick-dots li button:before {
    font-size: 12px;
    color: #565656;
    opacity: 1;
}
.banner_slider_section .slick-dots li.slick-active button:before {
    color: var(--color-yellow);
}
.banner_slider_section .slick-dots li {
    margin: 0;
}
@media (min-width: 1500px) {
    .banner_slider_heading {
        font-size: 40px;
        line-height: 45px;
    }
    .banner_slider_subtext {
        font-size: 28px;
        line-height: 32px;
    }
    .banner_slider_red_text {
        font-size: 23px;
        line-height: 27px;
    }
    .banner_slider_lists_item  {
        font-size: 18px;
    }
    .banner_slider_icons_lists {
        max-width: 500px;
    }
    .banner_slider_text_block {
        max-width: 850px;
    }
    .banner_slider_text_bg {
        max-width: 650px;
    }
}
@media (max-width: 1499px) {
    .banner_slider_item .banner_sliders_flex {
        width: 90%;
    }
}
/* @media (max-width: 1320px) {
    .banner_slider_text_block {
        max-width: 55%;
    }
} */
@media (max-width: 1199px) {
    .banner_slider_heading {
        font-size: 30px;
        line-height: 34px;
    }
    .banner_slider_subtext {
        font-size: 22px;
        line-height: 25px;
    }
    .banner_slider_red_text {
        font-size: 18px;
        line-height: 22px;
    }
    .banner_slider_item .booking_text_banner {
        font-size: 16px;
        line-height: 27px;
        padding: 6px 10px;
    }
}
@media (max-width: 991px) {
    .banner_slider_text_block {
        max-width: 90%;
    }
    .banner_slider_item .banner_sliders_flex {
        width: 100%;
    }
    .banner_slider_item .banner_small_image {
        flex: 0 0 350px;
    }
    .banner_slider_item .col {
        margin-top: 0px;
    }
    .banner_slider_item {
        min-height: 700px;
    }
}
@media (max-width: 767px) {
    .banner_slider_text_block {
        gap:8px;
    }
    .banner_slider_item .banner_sliders_flex {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
    }
    .banner_slider_item .banner_small_image {
        flex: 0 0 277px;
        max-width: 277px;
    }
    .banner_slider_text_block {
        width: 100%;
        max-width: 100%;
    }
    .banner_slider_text_bg {
        min-height: auto;
        gap: 1rem;
        padding: 0;
    }
    .banner_slider_subtext {
        margin: 0;
    }
    .banner_slider_lists_item {
        font-size: 16px;
    }
    .banner_slider_lists_item img {
        width: 16px;
        height: 16px;
        object-fit: contain;
        margin-top: 5px;
    }
    .banner_slider_icons_lists {
        justify-content: start;
    }
    .banner_slider_item {
        min-height: 100vh;
        height: auto;
    }
    .banner_slider_item .banner_sliders_flex {
        width: 100%;
    }
}
/* @media (max-width: 575px) {
    .banner_slider_item .container, 
    .banner_slider_item .container-fluid {
        padding: 0 15px;
    }
    
} */
@media (max-width: 480px) {
    .banner_slider_heading {
        font-size: 26px;
        line-height: 30px;
    }
    .banner_slider_subtext {
        font-size: 18px;
        line-height: 22px;
    }
    .banner_slider_red_text {
        font-size: 12px;
        line-height: 16px;
        padding: 8px 10px;
    }
    .banner_slider_item .col {
        margin-top: 20px;
    }
    .banner_slider_lists_item {
        width: 100%;
    }
    .banner_slider_icons_lists {
        gap: 5px;
        flex-direction: column;
    }
    
}

/* New CSS */
.banner_context_form_flex {
    display: flex !important;
    height: 100%;
    width: 55%;
    margin-right: auto;
}
.banner_right_image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 1;
}
.right_fixed_sidebar {
    margin-top: 86px;
    background-color: var(--color-white);
    width: 25%;
    position: relative;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid #644630;
    border-bottom: 1px solid #644630;
    display: flex;
    flex-direction: column;
    height: calc(100% - 86px);
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
}
.right_fixed_schedule {
    background-color: var(--color-transparent);
    /* border: 1px solid var(--color-white); */
    color: var(--color-white);
    border-radius: 8px;
    width: max-content;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-medium);
    padding: 8px 30px;
    overflow: hidden;
    position: relative;
}
.right_fixed_schedule span {
    position: absolute;
    display: block;
    /* animation: zoomInOut 1s ease-in-out infinite; */
}
.right_fixed_schedule span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #ffffffc7, #fff);
	animation: animate1 2s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.right_fixed_schedule span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to bottom, #ffffffc7, #fff);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.right_fixed_schedule span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, #ffffffc7, #fff);
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.right_fixed_schedule span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to top, #ffffffc7, #fff);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); 
  }
}
.right_fixed_schedule:hover,
.right_fixed_schedule:active {
    background-color: var(--color-transparent) !important;
    border-color: var(--color-transparent) !important;
}
.right_fixed_sidebar .bottom_fixed_sidebar {
    padding: 1.5vw 1.5vw;
    display: flex;
    flex-direction: column;
}
.right_fixed_sidebar .price_list_heading_block .form_logo {
    width: 5.5vw;
}
.right_fixed_sidebar .enquire-form h5 {
    font-size: 1.1vw;
    font-weight: 700;
    font-family: var(--font-bold);
    text-align: center;
    line-height: 1.2;
    color: var(--color-black);
    margin-bottom: 1.5rem;
    display: none;
}
.right_fixed_sidebar .price_list_heading {
    font-size: 0.9vw;
}
.right_fixed_sidebar .enquire-form .form_label,
.right_fixed_sidebar .we_get_row .form_label {
    font-size: 1.1vw;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-black);
}
.right_fixed_sidebar .price_range_group .btn {
    font-size: 0.75vw;
    padding: 0.6vw 0.3vw;
}
.right_fixed_sidebar .enquire-form input,
.right_fixed_sidebar .enquire-form .PhoneInput,
.right_fixed_sidebar .enquire-form .submit_btn {
    font-size: 1vw;
    padding: 0.4vw 1vw !important;
    width: 100%;
    margin-top: 0 !important;
}
.right_fixed_sidebar .enquire-form .submit_btn {
    background-color: var(--color-footer) !important;
    border-color: var(--color-footer) !important;
    color: var(--color-white);
}
.right_fixed_sidebar .enquire-form .submit_btn:hover {
    background-color: var(--color-yellow) !important;
    border-color: var(--color-yellow) !important;
    color: var(--color-white) !important;
}
.right_fixed_sidebar .enquire-form .PhoneInput input {
    padding: 0 10px !important;
}
.right_fixed_sidebar .enquire-form .checkbox_div {
    font-size: 0.75vw;
    margin-top: 0.8rem !important;
}
.right_fixed_sidebar .custom-checkbox .checkmark {
    width: 1vw;
    height: 1vw;
}
.right_fixed_sidebar .custom-checkbox .checkmark::after {
    width: 0.3vw;
    height: 0.6vw;
}
.right_fixed_sidebar .we_get_row .form_label {
    color: var(--color-black);
    border-top: 1px solid var(--color-yellow);
    margin-top: 1rem;
    padding-top: 1rem;
}
.right_fixed_sidebar .we_get_div_grid {
    gap: 8px;
}
.right_fixed_sidebar .we_get_div_grid .we_get_div_item .we_get_text {
    font-size: 0.7vw;
    color: var(--color-black);
}
.right_fixed_sidebar .price_list_heading_block {
    padding-bottom: 0.5rem;
}
.right_fixed_sidebar .price_list_subtext {
    margin-bottom: 0.5rem;
    color: #686868;
}
.right_fixed_sidebar .enquire-form {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_fixed_sidebar .enquire-form .form-section {
    width: 100%;
}  
@media (min-height : 800px) {
    .right_fixed_sidebar .bottom_fixed_sidebar {
        padding: 1.5vw;
    }
}
@media (min-width: 1500px) {
    .right_fixed_sidebar {
        margin-top: 81px;
        height: calc(100% - 81px);
    }
    .right_fixed_sidebar .enquire-form {
        min-height: 350px;
    }
}
@media (max-width: 1399px) {
    .right_fixed_sidebar {
        margin-top: 82px;
        height: calc(100% - 82px);
    }
}
@media (max-width: 1199px) {
    .right_fixed_sidebar {
        margin-top: 71px;
        height: calc(100% - 71px);
    }
    .right_fixed_sidebar {
        width: 27%;
    }
    .right_fixed_schedule {
        font-size: 16px;
    }
    .banner_context_form_flex {
        width: 50%;
    }
    .right_fixed_sidebar .enquire-form h5 {
        font-size: 1.3vw;
    }
    .right_fixed_sidebar .price_range_group .btn {
        font-size: 0.9vw;
    }
    .right_fixed_sidebar .enquire-form input,
    .right_fixed_sidebar .enquire-form .PhoneInput,
    .right_fixed_sidebar .enquire-form .submit_btn {
        font-size: 1.2vw;
        padding: 0.6vw 1vw !important;
    }
    .right_fixed_sidebar .enquire-form .PhoneInput input {
        padding: 0 10px !important;
    }
    .right_fixed_sidebar .enquire-form .checkbox_div,
    .right_fixed_sidebar .we_get_div_grid .we_get_div_item .we_get_text {
        font-size: 0.85vw;
    }
    .right_fixed_sidebar .custom-checkbox .checkmark {
        width: 1.2vw;
        height: 1.2vw;
    }
    .right_fixed_sidebar .we_get_row .form_label {
        margin-top: 0.5rem;
        padding-top: 0.5rem;
    }
}
@media (max-width: 1099px) {
    .right_fixed_sidebar .we_get_div_grid .we_get_div_item .we_get_text {
        font-size: 0.95vw;
    }
    .right_fixed_sidebar .price_list_heading {
        font-size: 1.1vw;
    }
    .right_fixed_sidebar .price_list_subtext {
        font-size: 1vw;
    }
    .right_fixed_sidebar .enquire-form {
        min-height: 290px;
    }
}
@media (max-width: 991px) {
    .right_fixed_sidebar .bottom_fixed_sidebar {
        padding: 20px;
    }
    .right_fixed_sidebar {
        border-radius: 8px;
        max-width: 500px;
        position: relative;
        width: 100%;
        margin: 40px auto;
        border: 1px solid #644630;
    }
    .right_fixed_sidebar .price_list_heading {
        font-size: 16px;
    }
    .right_fixed_sidebar .price_list_subtext {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
    }
    .right_fixed_sidebar .enquire-form input, 
    .right_fixed_sidebar .enquire-form .PhoneInput, 
    .right_fixed_sidebar .enquire-form .submit_btn {
        font-size: 14px;
        padding: 6px 15px !important;
    }
    .right_fixed_sidebar .enquire-form .form_label, 
    .right_fixed_sidebar .we_get_row .form_label {
        font-size: 14px;
    }
    .banner_context_form_flex {
        width: 50%;
    }
    .right_fixed_sidebar .price_range_group .btn {
        font-size: 12px;
        padding: 5px 8px;
    }
    .right_fixed_sidebar .enquire-form .checkbox_div, 
    .right_fixed_sidebar .we_get_div_grid .we_get_div_item .we_get_text {
        font-size: 11px;
    }
}
@media (max-width: 767px) {
    .banner_context_form_flex {
        width: 100%;
    }
    .banner_right_image {
        position: relative;
        width: 80%;
        right: 0;
        left: auto;
        margin-left: auto;
    }
    .banner_slider_item .container-fluid {
        padding: 2rem 20px;
    }
}
@media (max-width: 575px) {
    .right_fixed_sidebar .we_get_div_grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .right_fixed_sidebar {
        max-width: 345px;
        margin: 30px auto;
    }
    .right_fixed_sidebar .price_list_heading {
        font-size: 14px;
    }
    .right_fixed_sidebar .price_list_subtext {
        font-size: 13px;
    }
    .right_fixed_sidebar .bottom_fixed_sidebar {
        padding: 20px 10px;
    }
    .banner_right_image {
        position: relative;
        width: 90%;
        right: 0;
        left: auto;
        margin-left: auto;
    }
    
}
@media (max-width: 400px) {
    .right_fixed_sidebar {
        max-width: 90%;
        margin: 30px auto;
    }
    .right_fixed_sidebar .price_range_group .btn {
        font-size: 10px;
        padding: 5px 3px;
    }
}