.footer-links li:first-child{
    padding-left: 0;
    border-left: 0;
}
.footer-links li{
    border-left: 1px solid #000;
}

.text-brown {
    color: rgb(143 100 69);
}
.footer_main {
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
    border-top: 1px solid #FFFFFFAD;
}
.footer_main .footer_bg_color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-position: center;
    object-fit: cover;
}
.footer_main .container {
    position: relative;
}
.footer_social_icon,
.footer_social_icon_color {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}
.footer_text_col {
    max-width: 390px;
}
.footer_main h6.footer-text {
    font-size: 22px;
    text-transform: uppercase;
}
.footer_social_icon_color {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-out;
}
.social_link_item:hover .footer_social_icon {
    display: none;
}
.social_link_item:hover .footer_social_icon_color {
    display: block;
    opacity: 1;
}
.desclaimer_block p {
    text-align: left;
}
.footer_terms_block {
    /* background-color: var(--color-yellow); */
    border-top: 1px solid #FFFFFFAD;
}
.footer_terms_flex {
    padding: 15px 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.footer_menu_block .footer_menus {
    width: 100%;
}
.footer_menu_links a:hover {
    color: var(--color-yellow);
    font-weight: 600;
}
.footer_menu_links a:hover svg {
    color: var(--color-yellow) !important;
}
@media (max-width: 1199px) {
    .footer_main h6.footer-text {
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    .desclaimer_block p {
        text-align: center;
    }
    .footer_main .footer_logo {
        margin: auto;
    }
    .footer_text_col {
        margin-left: auto;
        margin-right: auto;
    }
    .footer_main .footer-text {
        text-align: center;
    }
    .footer_menu_block .footer-text {
        width: 100%;
    }
    .footer_menu_block .footer_menus {
        margin: auto;
        width: auto;
    }
    .footer_main .footer_social_blocks {
        justify-content: center;
    }
    .footer_terms_flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}